@import '../src/style.less';
@import '../src/customize/1/index.less';

#layout {
	display: flex;
	flex-direction: row;
}

#layout-content {
	padding: 10vh 5vh;
}

.ant-message-notice {
	float: right;
}

.site-page-header .image {
  display: flex;
  align-items: center;
  margin: 0 0 0 60px;
}

.site-page-header .ant-page-header-rtl .image {
  margin: 0 60px 0 0;
}


.site-page-header .example-icon-container{
	display: flex;
}

.site-page-header .example-icon {
  margin-right: 16px;
	color: @antd-primary-color;
	display: flex;
	align-items: center;
}

.site-page-header .example-icon .anticon {
  margin-right: 4px;

	& > svg {
		width: 20px;
		height: 20px;
	}
}

.site-page-header .ant-page-header-rtl .example-icon {
  float: right;
  margin-right: 0;
  margin-left: 16px;
}
.site-page-header .ant-page-header-rtl .example-icon .anticon {
  margin-right: 0;
  margin-left: 8px;
}

@media (max-width: 768px) {
  .site-page-header .image {
    flex: 100%;
    margin: 24px 0 0;
  }
}
