@import '../lib/style.less';
@import '../lib/customize/1/index.less';

#layout {
	display: flex;
	flex-direction: row;
}

#layout-content {
	padding: 10vh 5vh;
	height: 100vh;
	max-height: 100vh;
	overflow-y: auto;
}

.ant-message-notice {
	float: right;
}

.site-page-header .image {
  display: flex;
  align-items: center;
  margin: 0 0 0 60px;
}

.site-page-header .ant-page-header-rtl .image {
  margin: 0 60px 0 0;
}


.site-page-header .example-icon-container {
	display: flex;
	justify-content: flex-end;
}

.site-page-header .example-icon {
	color: @antd-primary-color;
	display: flex;
	align-items: center;
	&:not(:last-child) {
		margin-right: 16px;
	}
}

.site-page-header .example-icon .anticon {
  margin-right: 4px;

	& > svg {
		width: 20px;
		height: 20px;
	}
}
