@import './variables.less';

a {
	color: @antd-primary-color;

	&:hover {
		color: @antd-primary-color-hover;
	}
}

.primary-color {
	color: @antd-primary-color;
}

.primary-bg {
	background-color: @antd-primary-color;
}

.secondary-color {
	color: @antd-secondary-color;
}

.secondary-bg {
	background-color: @antd-secondary-color;

}
html {
	--antd-wave-shadow-color: @antd-primary-color;
}

::selection {
	background: @antd-primary-color;
}
